@use "vars";
body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.layout {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 24px;
}

.material-symbols-outlined {
    font-size: 24px;
    &:hover {
        cursor: pointer;
    }
}

img:hover {
    cursor: pointer;
}

.border {
    width: 100%;
    border: 1px solid darkred;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center
}

.center-text {
    display: block;
    text-align: center;
}

.section {
    padding: 0 32px ;
    width: 100%;
    overflow-x: hidden;
}
.container {
    padding: 16px 0px 0px 40px;
}

@media (max-width: 1024px) {
    .section {
       padding: 0px 32px 0px 0px;
    }
}