@use "vars";
body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.layout {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

}

.material-symbols-outlined {
    font-size: 24px;
    &:hover {
        cursor: pointer;
    }
}

img:hover {
    cursor: pointer;
}

.border {
    width: 100%;
    border: 1px solid darkred;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center
}

.center-text {
    display: block;
    text-align: center;
}

.section {
    padding: 40px 0;
    width: 100%; 
}
.container {
    padding: 0px 32px;
    margin: 0 auto;
    max-width: 1440px;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 16px !important;
    }
    .section {
        padding: 16px 0 !important; 
     }
}

@media (max-width: 768px) {
    .container {
        padding: 0 16px;
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 8px;
    }
}
