@import "../inc/vars.scss";

.h-btn--with--icon  {
    display: flex;
    align-items: center;
}

.h-btn--link {
    text-decoration: none;
    color: $link-color;
}
.h-price-gray {
    color: $icon-color;
    font-size: 12px;
    line-height: 1;
    text-decoration: line-through;
}

.h-price-red {
    color: $color-red;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
}