/* divider */

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex-grow: 1;
    height: 1px;
}

.divider__text {
    padding: 0 12px;
    font-size: 0.875rem;
    color: var(--icon-color);
    margin-top: -12px;
}

.divider-line {
    border: none;
    height: 1px;
    background-color: var(--divider-color, #cccccc);
    width: 100%;
}