.hero {
    padding: 0px 32px; 
    z-index: -1;
}

.hero__btn {
    background-color: $white-bg;
    border: none;
    color: $icon-color;
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    svg, i { 
        width: 20px; 
        height: 20px;
        font-size: 20px; 
    }
}

.swiper {
    width: 100%;
    height: 100%;

    &-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px; /* Додає закруглення */
        }
    }
}
