.hero {
    padding: 0px 32px; // Horizontal padding for centering

    &__button-group {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%); // Center vertically
    }

    &__btn {
        width: 40px;
        height: 40px;
        background-color: $white-bg !important;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &-prev {
            margin-left: 20px;
        }

        &-next {
            margin-right: 20px; 
        }
    }
}

.swiper {
    padding: 16px 0px 0px 40px;
    width: 100%;
    height: 100%;

    &-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
