.lang-menu-container {
    display: none;  
    width: 120px;
    right: 120px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;

    &.active {
        display: flex;  
        opacity: 1;    
        visibility: visible;
    }

    .lang-menu {
        width: 100%;
        display: block;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px #00000040;
        padding: 8px 0;
        list-style-type: none;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            border: none;
            width: 100%;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &.active {
                .lang-menu__icon {
                    display: inline-block; 
                }
            }

            &:hover {
                background-color: #f0f0f0;
            }
           
            .lang-menu__text {
                text-align: left;
                flex-grow: 1;
            }

            .lang-menu__icon {
                display: none;
                color: $accent-color;
                margin-left: auto;
            }
        }
    }
}
