/* General Mega Menu Styles */

.mega-menu {
    display: none;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    height: 50vh;
    &__inner {
        display: flex;
    }
    &__column__categories {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        .mega-menu__link {
            line-height: 32px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
            color: #333;
            position: relative;
            width: 100%;
            &:hover {
                color: $accent-hover-color;
            }
            &.mega-menu__content {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            .mega-menu__icon {
                margin-right: 8px;
                /* Space between icon and text */
            }
            .mega-menu__arrow {
                margin-left: auto;
                /* Push the arrow to the right if present */
            }
        }
    }
    &__column {
        padding: 10px;
        &__hidden {
            /* Center items vertically */
            gap: 10px;
            /* Optional: space between items */
        }
        &-title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        &-list {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 8px;
            }
            a {
                color: #333;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__hidden {
        padding: 20px;
        transition: display 0.3s ease;
        .mega-menu__column {
            flex: 1;
            padding: 10px;
        }
    }
}

.hover-block {
    /* Make the width stretch across the remaining space */
    // box-sizing: border-box;
    display: none;
}

.mega-menu__hidden {
    color: red;
}


/* Display the hover block when hovering over .mega-menu__link */

.trigger:hover+.hover-block {
    display: flex;
    /* Use flexbox for layout */
    flex-direction: row;
    /* Align content in a row */
    align-items: center;
    /* Vertically center content */
    position: absolute;
    right: calc(100% - 1400px);
    padding: 10px;
    top: 80px;
    width: calc(100% - 350px);
}