#modal-cart {
    max-width: 960px;
}

.modal-cart__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // height: 100vh;
    &-img  {
        min-height: 240px; /* Adjust as needed */
        // height: 1;

        & svg {
            max-width: 100%; /* Робить SVG адаптивним */
            max-height: 100%; 
        }
    }
}