#modal-cart {
    max-width: 960px;
}

.modal-cart__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &-img  {
        min-height: 240px;
        & svg {
            max-width: 100%; 
            max-height: 100%; 
        }
    }
}

.modal-slider {
    padding-top: 40px;
}
.modal-slider .modal-slider__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-card img {
    width: 160px;
    height: 160px;
  }
  
  .modal-card p {
    font-size: 14px;
    text-align: center;
  }