#modal-cart {
    max-width: 960px;
}

.modal-cart__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // height: 100vh;
    &-img  {
        min-height: 240px; /* Adjust as needed */
        // height: 1;

        & svg {
            max-width: 100%; /* Робить SVG адаптивним */
            max-height: 100%; 
        }
    }
}


.modal-slider .modal-slider__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-card img {
    width: 160px;
    height: 160px;
    // margin-bottom: 10px;
  }
  
  .modal-card p {
    font-size: 14px;
    text-align: center;
  }