/* Products */
.products-area {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
}

.products--col-6 {
    display: grid;
    grid-template: repeat(6, 1fr);
    align-items: flex-start;
    justify-content: end;
    justify-content: center;
}

.products--col-6 {
    position: relative;
}

.product-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    flex-grow: 1;


    .product-card, .products--col-6 {
        position: relative;
        max-width: 184px;
        width: 100%;
    }
    &__content {
        width: 100%;     
        height: 100%;  
        &-wrapper {
            height: 120px;
            width: 200px;
        }
    }

    &__description {
        font-size: 14px;
        color: $dark-bg;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        margin: 12px 0px;
        &:hover {
            text-decoration: underline;
            color: $color-red;
        }
    }
    &__rating {
        display: flex;
        margin-bottom: 8px;
    }
    &__prices {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    &__favorite-icon {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 4px;
        &:hover {
            background: #f9f9e7;
            transition: color 1s ease;
            border-radius: 4px;
        }
    }
    &__image {
        display: flex;             
        justify-content: center;    
        align-items: center;         
        width: 100%;     
        height: 100%;                
        object-fit: contain;         
        object-position: center;  
        &-wrapper {   
            width: 100%; 
            height: 160px;
        }
    }
    &__cart-icon {
        position: absolute;
        right: 16px;
        bottom: 16px;
        cursor: pointer;
        padding: 4px;
        &:hover {
            background: #ecf9e7;
            transition: color 1s ease;
            border-radius: 4px;
        }
    }
    &__rating-icon {
        width: 20px;
        margin-right: 2px;
    }

    &__image-wrapper {
      height: 120px;
    }

    &__description {
      font-size: 12px;
    }
}

@media (min-width: 1025px) {
    .products--col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1024px) {
    .products--col-6 {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 16px;
    }
}

@media (max-width: 768px) {
    .products--col-6 {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 16px;
    }
}